In [6]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp39-cp39-win_amd64.whl (7.9 MB)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.6)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.31
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [16]:
import pandas as pd
df = pd.read_csv(r'C:\Users\HP\Desktop\Highest Runs.csv')
print (df)

        Player Name       Country  Runs Scored  Played Year
0        SC Ganguly         India         1338         1997
1       PA de Silva     Sri Lanka         1212         1997
2     ST Jayasuriya     Sri Lanka         1178         1997
3        Ijaz Ahmed      Pakistan         1104         1997
4      M Azharuddin         India         1104         1997
...             ...           ...          ...          ...
1444      BA Stokes       England          189         2021
1445   Aasif Sheikh         Nepal          189         2021
1446    Imam-ul-Haq      Pakistan          189         2021
1447  RD Berrington      Scotland          184         2021
1448    K Verreynne  South Africa          182         2021

[1449 rows x 4 columns]

In [33]:
import mysql.connector as msql
from mysql.connector import Error
try:
    conn = msql.connect(host='localhost', user='root', password='bharath5')
    if conn.is_connected():
        cursor = conn.cursor()
        cursor.execute("CREATE DATABASE cricket")
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

Error while connecting to MySQL 1007 (HY000): Can't create database 'cricket'; database exists

In [ ]:
import mysql.connector
from mysql.connector import error

DB_NAME = 'cricket'

TABLES = {}
TABLES['records'] = (
    "CREATE TABLE `records` (" player_name char(25), country char(20), runs_scored int(10), player_year int(4),